[Unit]
Description=Fitbit Fetch Autostart Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/<username>/
User=<username>
ExecStart=/usr/bin/python3 /home/<username>/scripts/python_scripts/Fitbit_Fetch.py > /home/<username>/fitbit_autostart.log 2>&1
Restart=on-failure
RestartSec=180

[Install]
WantedBy=multi-user.target